$color-black: #000;
$color-white: #fff;

$color-fb: #3b5998;
$color-tw: #00aced;
$color-yt: #bb0000;

$pt-sans: 'PT Sans Narrow', sans-serif;

@mixin transition($seconds) {
  -webkit-transition: all $seconds;
  -moz-transition: all $seconds;
  -o-transition: all $seconds;
  transition: all $seconds;
}

@mixin transparent_bg($color, $alpha) {
  background-color: $color;
  background-color: rgba($color, $alpha);
  color: rgba($color, $alpha);
}

@mixin respond-to($breakpoint) {
    @media only screen and ($breakpoint) { @content; }
}

// breakpoints
$mobile:                                 'max-width: 320px';
$small-tablet:                           'max-width: 600px';    /* Smaller Tablets */
$galaxy:                                 'max-width: 720px';    /* Galaxy S3 */
$ipad:                                   'max-width: 768px';    /* iPad & Larger Tablets */
$desktop:                                'max-width: 1024px';   /* Desktop */
$large-screen:                           'min-width: 1240px';   /* Large Screens */

// SOCIAL ICONS
@font-face {
  font-family: "social-icons";
  src: url("../font/social-icons.eot");
  src: url("../font/social-icons.eot?#iefix") format("embedded-opentype"),
       url("../font/social-icons.woff") format("woff"),
       url("../font/social-icons.ttf") format("truetype"),
       url("../font/social-icons.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "social-icons";
    src: url("../font/social-icons.svg") format("svg");
  }
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "social-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
}

.icon-facebook:before { content: '\e800'; } /* '' */
.icon-youtube:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */