@charset "UTF-8";
/* line 5, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Smaller Tablets */
/* Galaxy S3 */
/* iPad & Larger Tablets */
/* Desktop */
/* Large Screens */
@font-face {
  font-family: "social-icons";
  src: url("../font/social-icons.eot");
  src: url("../font/social-icons.eot?#iefix") format("embedded-opentype"), url("../font/social-icons.woff") format("woff"), url("../font/social-icons.ttf") format("truetype"), url("../font/social-icons.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "social-icons";
    src: url("../font/social-icons.svg") format("svg");
  }
}
/* line 54, ../sass/settings.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "social-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
}

/* line 79, ../sass/settings.scss */
.icon-facebook:before {
  content: '\e800';
}

/* '' */
/* line 80, ../sass/settings.scss */
.icon-youtube:before {
  content: '\e801';
}

/* '' */
/* line 81, ../sass/settings.scss */
.icon-twitter:before {
  content: '\e802';
}

/* '' */
/* line 11, ../sass/screen.scss */
body {
  color: white;
}

/* line 15, ../sass/screen.scss */
h1 {
  font-size: 24px;
}

/* line 19, ../sass/screen.scss */
p {
  font-size: 12px;
}

/* line 23, ../sass/screen.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 28, ../sass/screen.scss */
:hover {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

/* line 32, ../sass/screen.scss */
.site-header {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
}
/* line 15, ../sass/bourbon/addons/_clearfix.scss */
.site-header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 44, ../sass/screen.scss */
.site-header .site-branding {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  padding: 2.35765%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}
/* line 38, ../sass/neat/grid/_span-columns.scss */
.site-header .site-branding:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 720px) {
  /* line 44, ../sass/screen.scss */
  .site-header .site-branding {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  /* line 38, ../sass/neat/grid/_span-columns.scss */
  .site-header .site-branding:last-child {
    margin-right: 0;
  }
}
@media only screen and (max-width: 320px) {
  /* line 44, ../sass/screen.scss */
  .site-header .site-branding {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  /* line 38, ../sass/neat/grid/_span-columns.scss */
  .site-header .site-branding:last-child {
    margin-right: 0;
  }
}
/* line 60, ../sass/screen.scss */
.site-header .social {
  margin-top: 20px;
}
/* line 63, ../sass/screen.scss */
.site-header .social i {
  color: white;
}
/* line 66, ../sass/screen.scss */
.site-header .social i.icon-facebook:hover {
  color: #3b5998;
}
/* line 70, ../sass/screen.scss */
.site-header .social i.icon-twitter:hover {
  color: #00aced;
}
/* line 74, ../sass/screen.scss */
.site-header .social i.icon-youtube:hover {
  color: #bb0000;
}
